<form name="form" novalidate ng-submit="create()">
    <div class="form-horizontal">
        <h4>New Category</h4>
        <hr />       
        <div class="form-group" ng-class="{ 'has-error': form.categoryName.$invalid }">
            <label for="categoryName" class="control-label col-md-2">Category Name</label>
            <div class="col-md-10">
                <input type="text" name="categoryName" ng-model="result.model.categoryName" ng-maxlength="300" required class="form-control" />
                <span class="text-danger help-block" ng-show="form.categoryName.$error.required">(*) Required</span>
            </div>
        </div>
        <div class="form-group">
            <label for="categoryStatus" class="control-label col-md-2">Category Status</label>
            <div class="col-md-10">
                <!--<input type="text" name="categoryStatus" ng-model="result.model.categoryStatus" required class="form-control" />-->
                <label class="radio-inline col-md-2">
                    <input type="radio" name="categoryStatus" id="categoryStatus1" value="true" ng-model="result.model.categoryStatus"> Active
                </label>
                <label class="radio-inline col-md-2">
                    <input type="radio" name="categoryStatus" id="categoryStatus0" value="false" ng-model="result.model.categoryStatus"> Inactive
                </label>
                <div class="col-md-6"></div>
            </div>            
        </div>
        <div class="form-group form-inline">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" ng-disabled="!form.$valid" class="btn btn-primary" />
                <a ng-click="cancel()" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
</form>
